// .product-feature-tab{
//     margin-top: 50px;
//     width: 100%;  
//     position: relative;
//     padding: 0 30px;
//     @include bp(sm-max){
//         margin-top:30px;
//         padding-bottom: 6px;
//     }
//     & > span{
//        display: inline-block;
//        z-index: 2;
//        height: 40px;
//        width: 30px;
//        display: flex;
//        align-items: center;
//        justify-content: center;
//        font-size: 32px;
//        color: #969;
//        cursor: pointer;
//        border-bottom: 1px solid #dad9d9;
//        top: 4px;
//        &.ac-fow{
//         position: absolute;
//         left: 0;       
//        }
//        &.ac-back{
//         position: absolute;
//         right: 0;        
//        }
//     }
//     .nav-tabs{
//         display: flex;      
//         flex-wrap: nowrap;
//         border-bottom: 0;
//         overflow: auto;
//         -ms-overflow-style: none;  /* IE and Edge */
//         scrollbar-width: none;  /* Firefox */
//         &::-webkit-scrollbar{
//             display: none;
//          }
//         li{
//             // border-bottom: 1px solid #0f376445;
//             a{
//                 &.nav-link{
//                     margin-bottom: 0px;
//                     font-size: 16px;
//                     color:rgba(0, 89, 105, 0.6);
//                     white-space: nowrap;
//                     &:hover{
//                         border-color:transparent;
//                         color: #969;
//                         .icon{
//                             svg{
//                                 path{
//                                     fill:#969 !important;
//                                 }
//                              }
//                          }
//                     }
//                     &.active{
//                      color: $PrussianBlue;
//                      font-weight: 500;
//                      border-color:transparent;
//                      position: relative;

//                      &:after{
//                         content: "";
//                         position: absolute;
//                         left: 0;
//                         right: 0;
//                         bottom: -2px;
//                         height: 3px;
//                         background-color: $PrussianBlue;
//                      }
//                      .icon{
//                         svg{
//                             path{
//                                 fill:#969 !important;
//                             }
//                          }
//                      }
//                     }
//                  }
//                 .icon{
//                    svg{
//                     width: 35px;
//                     height: 25px;
//                     path{
//                     fill:rgba(0, 89, 105, 0.6);
//                     }
//                     }
//                 }
//             }
//         }
//     }
   
// }
// .product-feature{
//     .product-feature-content{
//         margin-bottom: 50px;
//         .description {
//             width: 900px;
//             max-width: 100%;
//             margin: auto;
//             text-align: center;
//         }
//     }
//     .link{
//         margin-top: 35px;
//         img{
//             position: relative;
//             left: 0;
//             transition: .3s all linear;
//             margin-left: 3px;
//         }
//         &:hover{
//           img{
//             left: 8px;
//           }
//         }
//     }
// }   
.Privacy-poilce-content br{
    display: none;
}
.Privacy-poilce-content p{
    font-size: 15px !important;
    line-height: 28px;
    font-weight: normal;
    margin-bottom: 15px;
}
.Privacy-poilce-content h2{
    color: #0c3761;
    font-size: 20px;
    margin-bottom: 15px;
}
.Privacy-poilce-content h3{
    font-size: 18px;
}
.Privacy-poilce-content h4{
    font-size: 16px;
}
.Privacy-poilce-content ul,
.Privacy-poilce-content ol{
    padding-left: 0;
    font-size: 16px;
    padding-left: 18px;
    margin-bottom: 20px;
}
.Privacy-poilce-content ul li,
.Privacy-poilce-content ol li{
    margin: 10px 0;
    line-height: 1.5;
}
.Privacy-poilce-content a{
    font-weight: 500;
}
.Privacy-poilce-content a:hover{
    color: #84B558;
}
sup{
    font-size: 11px;
}
.solution-tab-content{
    @include bp(sm-max){
        flex-wrap: wrap;
    }
    .nav-inner{
        min-width: 300px;
        @include bp(md-max){
            min-width: 230px;
        }
        @include bp(sm-max){
            min-width: 100%;
             max-width: 100%;
             overflow: auto;
        }
        .nav-innertab-content{
            & > div{
            @include bp(sm-max){
                flex-wrap: nowrap;
                flex-direction: row !important;
            }
        }
        }
        .nav-link{
            background-color: #fff;
            padding: 25px 20px 25px 70px;
            &:hover{
                cursor: pointer;
                background-color: #0c3761;
                color: #fff;
            }
            @include bp(md-max){
                padding: 15px 15px 15px 40px;
            }
            @include bp(sm-max){
                margin-right: 20px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                min-width: 100px;
                width: 100%;
                font-size: 13px;
                &:last-child{
                    margin-right: 5px;
                }
            }
            border-radius: 10px;
            box-shadow: 0 0 10px 0px #dadada;
            margin-bottom: 16px;
            font-size: 14px;
            color: #0D0D0D;
            position: relative;
            line-height: 1.3;
            .icon{
                position: absolute;
                left: 25px;
                top: calc(50% - 10px);
                @include bp(md-max){
                    left: 10px;
                }
                @include bp(sm-max){
                    position: static;
                    margin-bottom: 10px;
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 10px;
                }
                svg{
                    height: 25px;
                    width: 30px;
                    fill: #3DB5E5 !important;
                    path{
                        fill: #3DB5E5 !important;
                    }
                    @include bp(md-max){
                        width: 20px;
                    }
                }
            }
            &.active{
                background-color: #253B61;
                color: #fff;
            }
        }
    }
    .tab-content{
        width: calc(100% - 330px);
        margin-left: 30px;
        background-color: #fff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 10px 0 #0000001f;
        @include bp(md-max){
            width: calc(100% - 180px);
            // min-width: calc(100% - 180px);
        }
        @include bp(sm-max){
            width: calc(100% - 0px);
            margin-left: 0;
            padding: 10px;
        }
        .tab-pane{
            .content{
                padding: 40px 0;
                border-bottom: 1px solid #e3e2e2;
                @include bp(md-max){
                    padding: 10px 0;
                }
                &:last-child{
                    padding-bottom: 0;
                    border-bottom: 0;
                }
                &:first-child{
                    padding-top: 0;
                }
                h2{
                    font-size: 28px;
                    color: #3DB5E5;
                    margin-bottom: 15px;
                    @include bp(md-max){
                        font-size: 24px !important;
                    }
                    @include bp(sm-max){
                        font-size: 18px !important;
                    }
                }
                p.p2 {
                    font-size: 16px !important;
                    @include bp(md-max){
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}